/* app.scss */

/*@import "base";*/

/*WHEEL*/
#wheel{
  width:250px;
  height:250px;
  border-radius:50%;
  position:relative;
  overflow:hidden;
  border:8px solid #fff;
  box-shadow:rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.05) 0px 3px 0px;
  transform: rotate(0deg);
}

